.container {
    display: grid; 
    grid-template-columns: repeat(16, 1fr);
}

.container div {
     border: solid black 2px; 
     width: 80px; 
     height: 80px; 
}

body {
    background: blue; 
}