body {
   
   
   
}
#container {
    display:grid; 
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: solid black 2px;
    width: 400px; 
    height: 400px; 
    margin: auto; 
   
    
  
 
}

.square {
    border: solid green 2px; 
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.aqua {
    background-color: aquamarine; 
}